@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

@theme {
  --color-upbrightred: #c41b4b;
  --color-upred: #8D1436;
  --color-upgreen: #00563F;
  --color-upyellow: #FFB61C;
}
