@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  background-color: white;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-upbrightred: #c41b4b;
  --color-upred: #8D1436;
  --color-upgreen: #00563F;
  --color-upyellow: #FFB61C;
}

button,
a,
[role="button"] {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}